@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
}
/* #description {
  overflow: hidden;
}

.hovers:hover {
  opacity: 0.98;
}

.hovers:hover #description {
  overflow: visible;
} */
